/* Font Families */
body {
  background-color: white;
  font-family: 'Lora', serif;
}

h3 {
  font-family: 'Archivo Black', sans-serif;
}

h5 {
  font-family: 'Archivo', sans-serif;
}

.multimedia, .communications {
  font-family: 'Archivo', sans-serif;
  text-decoration: underline;
  text-align: center;
}

.footer p {
  font-family: 'Archivo', sans-serif;
}
body {
  background-color: white;
}
header {
  background-color: black;
  div {
    display: flex;
    justify-content: center;
    }
  img {
    width: 50%;
    }
}
.subhead {
  background-color: #3dc1c3;
  text-align: center;
  padding: 10px;
}
.about {
  border-style: solid;
  border-width: medium;
}
.headshot 
  img {
  float: right;
  border-radius: 50%;
}
.services {
  background-color: #3dc1c3;
  padding: 2px
}
.multimedia {
  text-decoration: underline;
  text-align: center;
}
.communications {
  text-decoration: underline;
  text-align: center;
}
.contact {
  border-style: solid;
  border-width: medium;
}
.details {
  text-align: center;
}
footer {
  text-align: center;
}
/* Link Pseudo-classes */
a:link {
  color: #000;
  text-decoration: underline;
}

a:visited {
  color: #000;
  text-decoration: underline;
}

a:hover {
  color: #F16DA9;
  text-decoration: underline;
}

a:active {
  color: #F16DA9;
  text-decoration: underline;
}